.page-wrap {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 7.5rem auto auto;

  grid-template-areas:
    "p_nav"
    "p_content"
    "p_content";
}

.page-nav {
  grid-area: p_nav;
  background-color: brown;
}

/* content */
.page-main {
  grid-area: p_content;
  overflow: auto;
  background-color: aqua;
}

.watch-later-list-holder {
  padding: 2rem;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
