:root {
  --site-bg-color: #f7f7f7;
}

.dark-theme {
  --dui-light-theme-bg: #000000;
  --dui-light-theme-contrast-txt: #ffffff;
  --site-bg-color: #374151;
}

.page-wrap {
  width: 100%;
  height: 100vh;

  background-color: var(--site-bg-color);

  display: grid;
  grid-auto-columns: 25rem 1fr;
  grid-auto-rows: 7.5rem auto auto;

  grid-template-areas:
    "p_nav p_nav"
    "p_sidebar p_content"
    "p_sidebar p_content";
}

.page-nav {
  grid-area: p_nav;
}

.page-sidebar {
  grid-area: p_sidebar;
}

/* content */
.page-main {
  grid-area: p_content;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list-holder {
  padding: 2rem;
  display: grid;
  gap: 3rem;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.video-link {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.category-list-holder {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.category-btn {
  margin: 0rem 2rem;
}

.btn-clear-history {
  align-self: end;
  margin-right: 3rem;
}

@media only screen and (max-width: 855px) {
  .page-wrap {
    grid-auto-rows: 15rem auto auto 7.5rem;
  }
}
